.log-in1 {
  position: absolute;
  top: 145px;
  left: 20px;
  font-size: var(--font-size-11xl);
  letter-spacing: -0.01em;
  line-height: 130%;
  display: inline-block;
  font-family: var(--font-poppins);
  width: 339px;
}
.forgot-password {
  position: absolute;
  top: 419px;
  left: 254px;
  line-height: 125%;
}
.sign-up {
  font-weight: 600;
}
.dont-have-an-container {
  position: absolute;
  top: 786px;
  left: 91px;
  line-height: 125%;
  cursor: pointer;
}
.log-in2,
.or-login-with {
  position: absolute;
  top: 569px;
  left: 152px;
  line-height: 125%;
}
.log-in2 {
  top: 494px;
  left: 172px;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--color-white);
}
.log-in-child,
.log-in-item {
  position: absolute;
  top: 577.5px;
  left: 250.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 123px;
  height: 1px;
}
.log-in-item {
  left: 19.5px;
}
.button {
  position: relative;
  line-height: 125%;
  font-weight: 600;
}
.button-primary {
  position: absolute;
  top: 475px;
  left: 20px;
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
  width: 353px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mid) var(--padding-133xl);
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.text,
.title {
  position: relative;
  line-height: 125%;
}
.text {
  width: 291px;
  display: none;
}
.input-field {
  width: 353px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-lg) var(--padding-base);
  gap: var(--gap-3xs);
  text-align: right;
  font-size: var(--font-size-base);
  color: rgba(0, 0, 0, 0.5);
}
.error {
  width: 31px;
  position: relative;
  font-size: var(--font-size-smi);
  line-height: 125%;
  font-weight: 500;
  color: var(--color-crimson);
  display: none;
}
.input {
  position: absolute;
  top: 324px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.log-in-inner {
  position: absolute;
  top: 373px;
  left: 36px;
  width: 76px;
  height: 6px;
}
.icon116,
.text1 {
  position: relative;
}
.text1 {
  flex: 1;
  line-height: 125%;
}
.icon116 {
  width: 20px;
  height: 20px;
}
.input-field1,
.input1 {
  display: flex;
  justify-content: flex-start;
}
.input-field1 {
  width: 353px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-lg) var(--padding-base);
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
}
.input1 {
  position: absolute;
  top: 222px;
  left: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-7xs);
}
.social-icon-facebook {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.google {
  width: 66px;
  position: relative;
  line-height: 125%;
  font-weight: 500;
  display: none;
}
.social-icon-facebook-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.button-with-centered-icon,
.button-with-centered-icon1,
.button-with-centered-icon2 {
  position: absolute;
  top: 609px;
  left: 20px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 108px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-26xl);
}
.button-with-centered-icon1,
.button-with-centered-icon2 {
  left: 143px;
}
.button-with-centered-icon2 {
  left: 265px;
}
.icon117 {
  position: absolute;
  top: 22px;
  left: 90px;
  width: 200px;
  height: 91.6px;
  object-fit: cover;
}
.log-in {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 852px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
