.payment-page-child {
  position: absolute;
  top: 214px;
  left: 842px;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-200);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  width: 572px;
  height: 672px;
}
.payment-page-inner,
.payment-page-item {
  position: absolute;
  top: 293px;
  left: 130px;
  border-radius: 50%;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 39.8px;
  height: 39.8px;
}
.payment-page-inner {
  top: 1080px;
}
.ellipse-div,
.payment-page-child1 {
  position: absolute;
  top: 305px;
  left: 142px;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 16px;
  height: 16px;
}
.payment-page-child1 {
  top: 1092px;
}
.add-new-address {
  top: 294px;
  left: 188px;
  font-weight: 300;
}
.add-new-address,
.order-summary,
.order-total {
  position: absolute;
  font-size: var(--font-size-6xl);
}
.order-summary {
  top: 471px;
  left: 879px;
  font-weight: 300;
}
.order-total {
  top: 776px;
  left: 882px;
}
.order-total,
.span1 {
  font-weight: 300;
}
.div14 {
  top: 776px;
  left: 1265px;
  text-align: right;
}
.credit-or-debit,
.div14,
.payment-method {
  position: absolute;
  font-size: var(--font-size-6xl);
}
.credit-or-debit {
  top: 1081px;
  left: 188px;
  font-weight: 300;
}
.payment-method {
  top: 976px;
  left: 83px;
}
.first-name {
  position: absolute;
  top: 359px;
  left: 130px;
  font-weight: 300;
}
.cancel,
.cancel1 {
  position: absolute;
  top: 757px;
  left: 194px;
  font-size: var(--font-size-3xl);
}
.cancel1 {
  top: 1527px;
  left: 189px;
}
.street-address {
  position: absolute;
  top: 482px;
  left: 131px;
  font-weight: 300;
}
.by-placing-your,
.items-2,
.last-name {
  position: absolute;
  top: 359px;
  left: 468px;
  font-weight: 300;
}
.by-placing-your,
.items-2 {
  top: 361px;
  left: 882px;
  display: inline-block;
  width: 479px;
}
.items-2 {
  top: 546px;
  left: 879px;
  width: 82px;
}
.div15,
.div16,
.shipping-and-handling {
  position: absolute;
  display: inline-block;
  width: 207px;
}
.div15 {
  top: 546px;
  left: 1169px;
  text-align: right;
}
.div16,
.shipping-and-handling {
  top: 585px;
}
.shipping-and-handling {
  left: 879px;
  font-weight: 300;
}
.div16 {
  left: 1169px;
  text-align: right;
}
.before-tax {
  top: 624px;
  left: 879px;
  font-weight: 300;
  width: 97px;
}
.before-tax,
.div17,
.div18,
.tax-collected {
  position: absolute;
  display: inline-block;
}
.div17 {
  top: 624px;
  left: 1169px;
  text-align: right;
  width: 207px;
}
.div18,
.tax-collected {
  top: 663px;
}
.tax-collected {
  left: 879px;
  font-weight: 300;
  width: 129px;
}
.div18 {
  left: 1169px;
  text-align: right;
  width: 207px;
}
.apt-number,
.save-this-credit {
  position: absolute;
  top: 605px;
  left: 131px;
  font-weight: 300;
}
.save-this-credit {
  top: 1358px;
  left: 177px;
}
.billing-address-same,
.div19,
.div20,
.div21,
.state,
.zip {
  position: absolute;
  top: 1405px;
  left: 175px;
  font-weight: 300;
}
.div19,
.div20,
.div21,
.state,
.zip {
  top: 1196px;
  left: 369px;
}
.div20,
.div21,
.state,
.zip {
  top: 1291px;
  left: 150px;
}
.div21,
.state,
.zip {
  left: 588px;
}
.state,
.zip {
  top: 605px;
  left: 568px;
}
.state {
  top: 606px;
  left: 349px;
}
.payment-page-child2,
.payment-page-child3,
.payment-page-child4 {
  left: 130px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.payment-page-child2 {
  position: absolute;
  top: 389px;
  border-radius: var(--br-5xs);
  width: 303px;
  height: 67px;
}
.payment-page-child3,
.payment-page-child4 {
  width: 641px;
}
.payment-page-child3 {
  position: absolute;
  top: 1176px;
  border-radius: var(--br-5xs);
  height: 67px;
}
.payment-page-child4 {
  top: 512px;
}
.payment-page-child4,
.payment-page-child5,
.payment-page-child6 {
  position: absolute;
  border-radius: var(--br-5xs);
  height: 67px;
}
.payment-page-child5 {
  top: 389px;
  left: 468px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 303px;
}
.payment-page-child6 {
  top: 274px;
  left: 879px;
  background-color: var(--color-black);
  width: 497px;
}
.payment-page-child10,
.payment-page-child11,
.payment-page-child12,
.payment-page-child7,
.payment-page-child8,
.payment-page-child9 {
  position: absolute;
  top: 635px;
  left: 131px;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 203px;
  height: 67px;
}
.payment-page-child10,
.payment-page-child11,
.payment-page-child12,
.payment-page-child8,
.payment-page-child9 {
  top: 1271px;
  left: 130px;
}
.payment-page-child10,
.payment-page-child11,
.payment-page-child12,
.payment-page-child9 {
  left: 568px;
}
.payment-page-child10,
.payment-page-child11,
.payment-page-child12 {
  top: 1268px;
  left: 349px;
}
.payment-page-child11,
.payment-page-child12 {
  top: 740px;
  left: 130px;
  border: 0.5px solid var(--color-black);
}
.payment-page-child12 {
  top: 1510px;
}
.payment-page-child13,
.payment-page-child14 {
  position: absolute;
  top: 740px;
  left: 349px;
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
  width: 422px;
  height: 67px;
}
.payment-page-child14 {
  top: 1506px;
  cursor: pointer;
}
.payment-page-child15,
.payment-page-child16 {
  position: absolute;
  top: 635px;
  left: 568px;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 203px;
  height: 67px;
}
.payment-page-child16 {
  top: 636px;
  left: 349px;
}
.make-payment,
.place-order,
.save-this-address {
  position: absolute;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
}
.make-payment {
  top: 1523px;
  left: 463px;
  cursor: pointer;
}
.place-order,
.save-this-address {
  top: 757px;
  left: 464px;
}
.place-order {
  top: 291px;
  left: 1064px;
}
.payment-page-child17 {
  position: absolute;
  top: 261px;
  left: 85px;
  border-radius: var(--br-5xs);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 731px;
  height: 625px;
}
.payment-page-child18,
.payment-page-child19,
.payment-page-child20,
.payment-page-child21 {
  position: absolute;
  top: 945px;
  left: 66px;
  border-radius: var(--br-3xs);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 731px;
  height: 663px;
}
.payment-page-child19,
.payment-page-child20,
.payment-page-child21 {
  top: 1687px;
  left: 65px;
  background-color: var(--color-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  width: 733px;
  height: 98px;
}
.payment-page-child20,
.payment-page-child21 {
  top: 1883px;
}
.payment-page-child21 {
  top: 2090px;
}
.payment-logo-icon,
.payment-logo-icon1 {
  position: absolute;
  left: 693px;
  width: 62px;
  height: 41px;
  overflow: hidden;
}
.payment-logo-icon {
  top: 2115px;
  border-radius: 4px;
}
.payment-logo-icon1 {
  top: 1912px;
  border-radius: var(--br-8xs);
}
.payment-page-child22,
.payment-page-child23 {
  position: absolute;
  top: 442.5px;
  left: 878.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 498px;
  height: 1px;
}
.payment-page-child23 {
  top: 755.5px;
  left: 872.5px;
}
.shipping-address {
  position: absolute;
  top: 197px;
  left: 85px;
  font-size: var(--font-size-6xl);
}
.icons {
  position: absolute;
  top: 1189px;
  left: 693px;
  border-radius: var(--br-8xs);
  width: 62px;
  height: 41px;
  overflow: hidden;
}
.payment-page-child24,
.payment-page-child25,
.payment-page-child26,
.payment-page-child27,
.payment-page-child28 {
  position: absolute;
  top: 1205px;
  left: 153px;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 10px;
  height: 10px;
}
.payment-page-child25,
.payment-page-child26,
.payment-page-child27,
.payment-page-child28 {
  top: 1300px;
  left: 369px;
}
.payment-page-child26,
.payment-page-child27,
.payment-page-child28 {
  top: 1205px;
  left: 225px;
}
.payment-page-child27,
.payment-page-child28 {
  left: 297px;
}
.payment-page-child28 {
  left: 165px;
}
.payment-page-child29,
.payment-page-child30,
.payment-page-child31,
.payment-page-child32,
.payment-page-child33 {
  position: absolute;
  top: 1300px;
  left: 381px;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 10px;
  height: 10px;
}
.payment-page-child30,
.payment-page-child31,
.payment-page-child32,
.payment-page-child33 {
  top: 1205px;
  left: 237px;
}
.payment-page-child31,
.payment-page-child32,
.payment-page-child33 {
  left: 309px;
}
.payment-page-child32,
.payment-page-child33 {
  left: 177px;
}
.payment-page-child33 {
  top: 1300px;
  left: 393px;
}
.payment-page-child34,
.payment-page-child35,
.payment-page-child36,
.payment-page-child37,
.payment-page-child38 {
  position: absolute;
  top: 1205px;
  left: 249px;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 10px;
  height: 10px;
}
.payment-page-child35,
.payment-page-child36,
.payment-page-child37,
.payment-page-child38 {
  left: 321px;
}
.payment-page-child36,
.payment-page-child37,
.payment-page-child38 {
  left: 189px;
}
.payment-page-child37,
.payment-page-child38 {
  left: 261px;
}
.payment-page-child38 {
  left: 333px;
}
.payment-page-child39,
.payment-page-child40 {
  position: absolute;
  border-radius: var(--br-8xs);
  width: 30px;
  height: 30px;
}
.payment-page-child39 {
  top: 1356px;
  left: 131px;
  background-color: var(--color-black);
}
.payment-page-child40 {
  top: 1404px;
  left: 130px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.vector-icon15 {
  position: absolute;
  height: 0.47%;
  width: 0.97%;
  top: 55.06%;
  right: 89.76%;
  bottom: 44.47%;
  left: 9.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payment-page-child41,
.payment-page-child42,
.payment-page-child43 {
  position: absolute;
  top: 1717px;
  left: 130px;
  border-radius: 50%;
  background-color: var(--color-white);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
  width: 39.8px;
  height: 39.8px;
}
.payment-page-child42,
.payment-page-child43 {
  top: 1913px;
}
.payment-page-child43 {
  top: 2116px;
}
.payment-logo-icon2 {
  position: absolute;
  top: 1717px;
  left: 693px;
  border-radius: var(--br-8xs);
  width: 62px;
  height: 41px;
  overflow: hidden;
  object-fit: cover;
}
.bitcoin,
.google-pay,
.paypal {
  position: absolute;
  top: 1719px;
  left: 195px;
  font-size: var(--font-size-3xl);
  font-weight: 300;
}
.google-pay,
.paypal {
  top: 1915px;
}
.paypal {
  top: 2121px;
}
.payment-page {
  width: 100%;
  position: relative;
  border-radius: 20px;
  background-color: var(--color-white);
  height: 2249px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
