.link-20231218-164634-0000pn {
  position: absolute;
  top: calc(50% - 195px);
  left: calc(50% - 190px);
  width: 380px;
  height: 380px;
  overflow: hidden;
  object-fit: cover;
}
.divslick-track {
  position: absolute;
  top: 0;
  left: 10px;
  width: 380px;
  height: 390px;
  overflow: hidden;
}
.heading-1,
.strong-for {
  position: absolute;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.heading-1 {
  top: 0;
  font-size: var(--font-size-14xl-4);
  line-height: 36.69px;
  width: 86.9px;
  height: 36.7px;
}
.strong-for {
  top: 52.4px;
  line-height: 23.2px;
  width: 60.2px;
  height: 23.2px;
}
.skin-friendly {
  margin: 0;
}
.skin-friendly-container1 {
  width: 100%;
}
.ifra-certified-perfume-container,
.skin-friendly-container {
  position: absolute;
  top: 95.6px;
  left: 0;
  line-height: 23.2px;
  font-family: var(--font-jost);
  display: flex;
  align-items: center;
  width: 202.1px;
  height: 116px;
}
.ifra-certified-perfume-container {
  top: 231.5px;
  left: 20.5px;
  width: 144.8px;
  height: 46.4px;
}
.unique-aroma {
  margin: 0;
  font-weight: 500;
}
.free-shipping-all-container {
  position: absolute;
  top: 297.7px;
  left: 0;
  line-height: 23.2px;
  display: flex;
  align-items: center;
  width: 303px;
  height: 47px;
}
.details,
.vector-icon {
  position: absolute;
  top: -0.8px;
  left: 420px;
  width: 303px;
  height: 344.7px;
}
.vector-icon {
  height: 74.17%;
  width: 4.87%;
  top: 7.08%;
  right: 95.13%;
  bottom: 18.75%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.delivery-return {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 134px;
  height: 24px;
}
.vector-icon1 {
  position: absolute;
  height: 69.17%;
  width: 4.32%;
  top: 14.17%;
  right: 35.16%;
  bottom: 16.67%;
  left: 60.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ask-a-question {
  position: absolute;
  top: 0;
  left: 262px;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 122px;
  height: 24px;
}
.other {
  position: absolute;
  height: 3.88%;
  width: 32%;
  top: 58.77%;
  right: 33.25%;
  bottom: 37.35%;
  left: 34.75%;
  font-size: var(--font-size-mini);
}
.vector-icon2 {
  position: absolute;
  height: 86.5%;
  width: 8.42%;
  top: 5%;
  right: 91.58%;
  bottom: 8.5%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.share1 {
  position: absolute;
  top: 0;
  left: 20px;
  line-height: 20.3px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 70px;
  height: 20px;
}
.vector-icon3,
.vector-icon4,
.vector-icon5,
.vector-icon6 {
  position: absolute;
  height: 50%;
  width: 5.76%;
  top: 23.5%;
  right: 51.9%;
  bottom: 26.5%;
  left: 42.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon4,
.vector-icon5,
.vector-icon6 {
  height: 65%;
  width: 3.18%;
  top: 13.5%;
  right: 36.55%;
  bottom: 21.5%;
  left: 60.27%;
}
.vector-icon5,
.vector-icon6 {
  height: 60.5%;
  width: 5.62%;
  top: 18%;
  right: 18.48%;
  left: 75.9%;
}
.vector-icon6 {
  height: 55%;
  width: 6.55%;
  top: 23.5%;
  right: 0;
  left: 93.45%;
}
.share {
  position: absolute;
  height: 3.23%;
  width: 17.81%;
  top: 73.15%;
  right: 47.19%;
  bottom: 23.62%;
  left: 35%;
}
.fieldset {
  position: absolute;
  height: calc(100% - 21.4px);
  width: 100%;
  top: 21.4px;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.guaranteed-safe-checkout {
  position: absolute;
  top: 0;
  left: calc(50% - 132px);
  line-height: 21px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 246px;
  height: 21px;
}
.trust-badgepng-icon {
  position: absolute;
  top: calc(50% - 1.5px);
  left: calc(50% - 178px);
  width: 356px;
  height: 34.4px;
  overflow: hidden;
  object-fit: cover;
}
.trusted {
  position: absolute;
  height: calc(100% - 505.2px);
  width: calc(100% - 772px);
  top: 487.8px;
  right: 350px;
  bottom: 17.4px;
  left: 422px;
  text-align: center;
  font-size: var(--font-size-mini);
}
.div,
.div1 {
  position: absolute;
  height: 21px;
}
.div1 {
  top: 0;
  left: calc(50% - 3.3px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.9px;
}
.div {
  width: calc(100% - 2px);
  top: 10.5px;
  right: 1px;
  left: 1px;
  overflow: hidden;
}
.form-input-product-quantit {
  position: absolute;
  top: 97.6px;
  left: 35px;
  border-radius: var(--br-8xs) 0 0 var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 45px;
  height: 42px;
}
.div2 {
  position: absolute;
  top: 1px;
  left: calc(50% - 4.5px);
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.3px;
  height: 17px;
}
.form-link {
  position: absolute;
  top: 97.6px;
  right: 208px;
  border-radius: 0 var(--br-8xs) 0 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 21px;
  height: 21px;
  overflow: hidden;
}
.div3 {
  position: absolute;
  top: 0;
  left: calc(50% - 4.3px);
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.9px;
  height: 19px;
}
.form-link1 {
  position: absolute;
  right: 208px;
  bottom: 92px;
  border-radius: 0 0 var(--br-8xs) 0;
  background-color: var(--color-white);
  border-right: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 21px;
  height: 21px;
  overflow: hidden;
}
.add-to-cart {
  position: absolute;
  top: 15.2px;
  left: calc(50% - 57.5px);
  letter-spacing: 2px;
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 12px;
}
.form-button {
  position: absolute;
  height: calc(100% - 189.6px);
  top: 97.6px;
  bottom: 92px;
  left: 106px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkgoldenrod);
  border: 1px solid var(--color-darkgoldenrod);
  box-sizing: border-box;
  width: 167px;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.buy-now {
  position: absolute;
  top: 15px;
  left: calc(50% - 35.4px);
  letter-spacing: 2px;
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71.1px;
  height: 12px;
}
.div4,
.form-button1 {
  font-family: var(--font-poppins);
}
.form-button1 {
  position: absolute;
  height: calc(100% - 189.6px);
  top: 149.6px;
  bottom: 40px;
  left: 35px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkgoldenrod);
  width: 238px;
  cursor: pointer;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.div4 {
  top: 73.8px;
  left: 34px;
  font-size: var(--font-size-mini);
  line-height: 20px;
  font-weight: 500;
}
.cart,
.div4,
.main {
  position: absolute;
}
.cart {
  width: calc(100% - 892px);
  top: 396px;
  right: 852px;
  left: 40px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 231.6px;
  text-align: center;
  font-family: var(--font-jost);
}
.main {
  top: 245px;
  left: calc(50% - 600px);
  width: 1200px;
  height: 619px;
}
.description,
.reviews-0 {
  position: absolute;
  top: 0;
  font-size: var(--font-size-2xl-8);
  line-height: 21.75px;
  text-align: center;
}
.description {
  left: calc(50% - 425.7px);
  text-decoration: underline;
  font-weight: 600;
}
.reviews-0 {
  left: calc(50% - 197.7px);
  font-weight: 500;
  color: #6c6c6c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 134px;
  height: 22px;
}
.eau-de-perfume {
  position: absolute;
  top: 0;
  left: 167.6px;
  line-height: 23.2px;
}
.concentration2 {
  font-weight: 500;
}
.concentration {
  position: absolute;
  top: 85px;
  left: 0;
  width: 612.6px;
  height: 24px;
}
.hrs-of-strong,
.the-performance-of {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 23.2px;
}
.the-performance-of {
  top: 26px;
  white-space: pre-wrap;
}
.hrs-of-strong-projection-4-6h-parent {
  position: absolute;
  top: 0;
  left: 167px;
  width: 871px;
  height: 50px;
}
.longevity-lasting {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 23.2px;
  font-weight: 500;
}
.longevity {
  position: absolute;
  top: 130px;
  left: 0.6px;
  width: 1038px;
  height: 50px;
}
.premium-long-lasting {
  position: absolute;
  top: 0;
  left: 167px;
  line-height: 23.2px;
}
.occasion {
  position: absolute;
  top: 201px;
  left: 0.6px;
  width: 783px;
  height: 24px;
}
.description-parent {
  position: absolute;
  top: 955px;
  left: calc(50% - 680.6px);
  width: 1038.6px;
  height: 225px;
}
.link-f {
  position: absolute;
  top: 10px;
  left: 191px;
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20.2px;
  height: 36px;
}
.link-20231218-153303-0000-45 {
  position: absolute;
  top: calc(50% - 153.45px);
  left: calc(50% - 110px);
  width: 220px;
  height: 220px;
  overflow: hidden;
  object-fit: cover;
}
.antoni,
.link {
  position: absolute;
}
.antoni {
  top: 7.2px;
  left: calc(50% - 30.5px);
  line-height: 21.68px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 61.4px;
  height: 21.7px;
}
.link {
  width: calc(100% - 20px);
  top: 230px;
  right: 10px;
  left: 10px;
  height: 37.7px;
  overflow: hidden;
  font-size: var(--font-size-base-7);
  font-family: var(--font-jost);
}
.divproduct {
  position: absolute;
  height: calc(100% - 30px);
  top: 10px;
  bottom: 20px;
  left: 0;
  width: 240px;
}
.lucas {
  position: absolute;
  top: 7.2px;
  left: calc(50% - 24.6px);
  line-height: 21.68px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49.6px;
  height: 21.7px;
}
.divproduct1 {
  position: absolute;
  height: calc(100% - 30px);
  top: 10px;
  bottom: 20px;
  left: 240px;
  width: 240px;
}
.leopold {
  position: absolute;
  top: 7.2px;
  left: calc(50% - 35.5px);
  line-height: 21.68px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71.2px;
  height: 21.7px;
}
.divproduct2 {
  position: absolute;
  height: calc(100% - 30px);
  top: 10px;
  bottom: 20px;
  left: 480px;
  width: 240px;
}
.oliver {
  position: absolute;
  top: 7.2px;
  left: calc(50% - 27.1px);
  line-height: 21.68px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54.6px;
  height: 21.7px;
}
.divproduct3 {
  position: absolute;
  height: calc(100% - 30px);
  top: 10px;
  bottom: 20px;
  left: 720px;
  width: 240px;
}
.aria {
  position: absolute;
  top: 7.2px;
  left: calc(50% - 17.7px);
  line-height: 21.68px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35.7px;
  height: 21.7px;
}
.divproduct4 {
  position: absolute;
  height: calc(100% - 30px);
  top: 10px;
  bottom: 20px;
  left: 960px;
  width: 240px;
}
.divslick-list {
  position: absolute;
  top: 68px;
  left: calc(50% - 605.5px);
  width: 1211px;
  height: 336.9px;
  overflow: hidden;
}
.heading-3 {
  position: absolute;
  top: 5.3px;
  left: calc(50% - 159px);
  line-height: 46.69px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 312px;
  height: 47px;
}
.main2 {
  top: -19px;
  left: calc(50% - 258.5px);
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 518px;
  height: 58.1px;
  font-size: var(--font-size-14xl-4);
  font-family: var(--font-poppins);
}
.header2,
.main1,
.main2 {
  position: absolute;
}
.main1 {
  top: 1243px;
  left: 115px;
  width: 1211px;
  height: 339px;
  text-align: center;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
}
.header2 {
  width: calc(100% - 740px);
  top: 0;
  right: 370px;
  left: 370px;
  height: 53.2px;
}
.nav-svg,
.nav-svg1 {
  position: absolute;
  top: calc(50% - 9px);
  left: 407.1px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.nav-svg1 {
  left: 499.8px;
}
.nav-elisa,
.nav-link,
.nav-link1 {
  position: absolute;
  top: 18.3px;
  left: 519.8px;
  line-height: 23.2px;
  display: flex;
  align-items: center;
  width: 35.9px;
  height: 23.2px;
}
.nav-link,
.nav-link1 {
  left: 370px;
  width: 37.4px;
}
.nav-link1 {
  left: 427.1px;
  width: 73px;
}
.header3 {
  width: 100%;
  top: 73.2px;
  right: 0;
  left: 0;
  background-color: #edeecb;
  height: 60px;
}
.header1,
.header3,
.icon {
  position: absolute;
}
.header1 {
  width: 100%;
  top: 72px;
  right: 0;
  left: 0;
  height: 133.2px;
}
.icon {
  top: 27px;
  left: 23px;
  width: 23px;
  height: 22px;
  overflow: hidden;
}
.div5,
.list-item {
  position: absolute;
  top: -2px;
  left: 58px;
  line-height: 36px;
  display: flex;
  align-items: center;
  width: 122.4px;
  height: 36px;
}
.list-item {
  top: 9px;
  left: 1331px;
  font-size: var(--font-size-5xl);
  line-height: 29px;
  width: 110px;
  height: 42px;
  cursor: pointer;
}
.vector-icon7 {
  position: absolute;
  height: 83.33%;
  width: 4.59%;
  top: 104.76%;
  right: -42.04%;
  bottom: -88.1%;
  left: 137.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.header4 {
  position: absolute;
  width: calc(100% - 519.7px);
  top: 0;
  right: 519.7px;
  left: 0;
  height: 42px;
}
.link-home {
  position: absolute;
  top: 14.9px;
  left: calc(50% - 41.45px);
  line-height: 23.2px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43.2px;
  height: 23.2px;
}
.link5 {
  position: absolute;
  width: 51.75%;
  right: 48.25%;
  bottom: 30px;
  left: 0;
  height: 2px;
}
.list-item1 {
  position: absolute;
  height: calc(100% + 0.2px);
  top: 0;
  bottom: -0.2px;
  left: calc(50% - 485px);
  width: 82.9px;
}
.link-shop {
  position: absolute;
  top: 14.9px;
  left: calc(50% - 39.6px);
  line-height: 23.2px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39.5px;
  height: 23.2px;
}
.list-item2 {
  position: absolute;
  height: calc(100% + 0.2px);
  top: 0;
  bottom: -0.2px;
  left: calc(50% - 368px);
  width: 79.2px;
}
.link-about {
  position: absolute;
  top: 15px;
  left: calc(50% - 54.7px);
  line-height: 23.2px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 93px;
  height: 23px;
}
.list-item3 {
  position: absolute;
  height: calc(100% + 0.2px);
  top: 0;
  bottom: -0.2px;
  left: calc(50% - 255px);
  width: 109.4px;
  cursor: pointer;
}
.link-order {
  position: absolute;
  top: 15px;
  left: calc(50% - 61.5px);
  line-height: 23.2px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 158px;
  height: 23px;
}
.icon1,
.icon2,
.list-item4 {
  position: absolute;
  cursor: pointer;
}
.list-item4 {
  height: calc(100% + 0.2px);
  top: 0;
  bottom: -0.2px;
  left: calc(50% - 117px);
  width: 123px;
}
.icon1,
.icon2 {
  object-fit: cover;
}
.icon1 {
  top: 9px;
  left: 1157px;
  width: 35px;
  height: 34px;
}
.icon2 {
  top: calc(50% - 34px);
  left: 20px;
  width: 40px;
  height: 40px;
}
.divwide-nav {
  position: absolute;
  top: calc(50% - 26.5px);
  left: 0;
  width: 1234px;
  height: 68px;
}
.icon3 {
  top: 9px;
  left: 1269px;
  width: 35.8px;
  height: 34px;
  object-fit: cover;
}
.header5,
.icon3,
.icon4 {
  position: absolute;
}
.icon4 {
  top: 9px;
  left: 1381px;
  width: 34px;
  height: 34px;
  object-fit: contain;
}
.header5 {
  width: 100%;
  top: 78px;
  right: 0;
  left: 0;
  height: 53px;
  text-align: center;
  font-family: var(--font-poppins);
}
.header-parent {
  width: 100%;
  right: 0;
  height: 131px;
  color: var(--color-black);
}
.header,
.header-parent,
.rectangle {
  position: absolute;
  top: 0;
  left: 0;
}
.header {
  width: 100%;
  right: 0;
  height: 205.2px;
  mix-blend-mode: normal;
  color: var(--color-darkslategray-100);
  font-family: var(--font-jost);
}
.rectangle {
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 750px;
}
.right-child {
  position: absolute;
  top: 666px;
  left: 0;
  border-top: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 1425.2px;
  height: 3px;
}
.all-right-reserved {
  position: absolute;
  top: 672px;
  left: 13.9px;
  display: flex;
  align-items: center;
  width: 774.8px;
  height: 78px;
}
.right {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 750px;
  font-size: var(--font-size-17xl);
}
.subscribe-child {
  position: absolute;
  top: 0;
  left: 517.3px;
  background-color: var(--color-black);
  width: 195.1px;
  height: 56px;
}
.subscribe-item {
  position: absolute;
  top: 55px;
  left: 1.1px;
  width: 711.6px;
  height: 2px;
  object-fit: contain;
}
.subscribe-for-details,
.subscribe1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.subscribe-for-details {
  top: 3px;
  left: 0;
  width: 621.8px;
  height: 53px;
}
.subscribe1 {
  top: 15px;
  left: 556.9px;
  font-size: var(--font-size-xl);
  text-transform: capitalize;
  color: var(--color-white);
  width: 126.2px;
}
.subscribe {
  position: absolute;
  top: 508px;
  left: 72.8px;
  width: 712.7px;
  height: 57px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
}
.product1 {
  position: absolute;
  top: 0;
  left: 2.6px;
  display: flex;
  align-items: center;
  width: 90px;
  height: 49px;
}
.icon5 {
  top: 0;
  left: 0;
  width: 26.8px;
  height: 25px;
  object-fit: cover;
}
.icon5,
.men,
.men1 {
  position: absolute;
}
.men1 {
  top: 3px;
  left: 47.6px;
  display: flex;
  align-items: center;
  width: 52px;
  height: 21px;
}
.men {
  top: 0;
  left: 3px;
  width: 99.6px;
  height: 25px;
  cursor: pointer;
}
.woman1 {
  top: 0;
  left: 47.6px;
  display: flex;
  align-items: center;
  width: 80px;
  height: 21px;
}
.unisex1,
.woman,
.woman1 {
  position: absolute;
}
.woman {
  top: 51px;
  left: 0;
  width: 127.6px;
  height: 25px;
  cursor: pointer;
}
.unisex1 {
  top: 2px;
  left: 47.6px;
  display: flex;
  align-items: center;
  width: 77px;
  height: 21px;
}
.unisex {
  position: absolute;
  top: 102px;
  left: 3px;
  width: 124.6px;
  height: 25px;
  cursor: pointer;
}
.icon8,
.men-parent,
.product {
  position: absolute;
  top: 67px;
  left: 0;
  width: 127.6px;
  height: 127px;
}
.icon8,
.product {
  top: 176px;
  left: 735.4px;
  height: 194px;
}
.icon8 {
  top: 9px;
  left: 0;
  width: 21.4px;
  height: 20px;
  object-fit: cover;
}
.icon9,
.youtube,
.youtube1 {
  position: absolute;
  height: 35px;
}
.youtube1 {
  top: 0;
  left: 40.6px;
  display: flex;
  align-items: center;
  width: 166px;
}
.icon9,
.youtube {
  top: 153px;
  left: 0;
  width: 206.6px;
}
.icon9 {
  top: 11px;
  width: 21.4px;
  height: 20px;
  object-fit: cover;
}
.facebook,
.icon10 {
  position: absolute;
  top: 51px;
  left: 0;
  width: 206.6px;
  height: 35px;
}
.icon10 {
  top: 10px;
  width: 21.4px;
  height: 20px;
  object-fit: cover;
}
.icon11,
.twitter {
  position: absolute;
  top: 102px;
  left: 0;
  width: 206.6px;
  height: 35px;
}
.icon11 {
  top: 8px;
  width: 21.4px;
  height: 20px;
  object-fit: cover;
}
.follow-us1,
.instagram,
.youtube-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 206.6px;
  height: 35px;
}
.follow-us1,
.youtube-parent {
  top: 69px;
  left: 0.4px;
  height: 188px;
}
.follow-us1 {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 125px;
  height: 61px;
}
.follow-us {
  position: absolute;
  top: 170px;
  left: 540px;
  width: 207px;
  height: 257px;
}
.customer-service1,
.faqs {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 231px;
  height: 44px;
}
.faqs {
  left: 4px;
  width: 70px;
}
.order-tracking {
  position: absolute;
  top: 49px;
  left: 0;
}
.order-tracking,
.privacy-policy,
.refund-policy {
  display: flex;
  align-items: center;
  width: 158px;
  height: 44px;
}
.privacy-policy {
  position: absolute;
  top: 147px;
  left: 0;
}
.refund-policy {
  top: 196px;
}
.about-us,
.faqs-parent,
.refund-policy {
  position: absolute;
  left: 0;
}
.about-us {
  top: 98px;
  display: flex;
  align-items: center;
  width: 105px;
  height: 44px;
  cursor: pointer;
}
.faqs-parent {
  top: 55px;
  width: 158px;
  height: 240px;
}
.customer-service {
  position: absolute;
  top: 179px;
  left: 918px;
  width: 231px;
  height: 295px;
}
.ahmedabadgujrat {
  position: absolute;
  top: 5px;
  left: 90.5px;
}
.contact,
.icon12,
.location {
  position: absolute;
  height: 50px;
}
.icon12 {
  top: 0;
  left: 0;
  width: 53.5px;
  object-fit: cover;
}
.contact,
.location {
  left: 53.5px;
  font-size: var(--font-size-11xl);
}
.location {
  top: 318px;
  width: 364.5px;
  text-align: center;
}
.contact {
  top: 235px;
  width: 329.5px;
}
.our-story {
  top: 0;
  width: 158px;
}
.contact-us,
.our-story,
.terms-and-conditions {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  height: 44px;
}
.terms-and-conditions {
  top: 147px;
  width: 231px;
  cursor: pointer;
}
.contact-us {
  top: 98px;
  width: 158px;
}
.our-stories,
.our-story-parent {
  position: absolute;
  top: 50px;
  left: 0;
  width: 231px;
  height: 191px;
}
.our-stories {
  top: 180px;
  left: 1149px;
  height: 241px;
}
.footer1,
.logo-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 750px;
}
.logo-icon {
  top: 74px;
  left: 53.5px;
  width: 214px;
  height: 94px;
  object-fit: cover;
}
.footer {
  position: absolute;
  top: 1628px;
  left: 0;
  width: 1440px;
  height: 750px;
  font-size: var(--font-size-xl);
  font-family: var(--font-pt-sans-caption);
}
.product-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2378px;
  text-align: left;
  font-size: var(--font-size-mini-5);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
